BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
UseTab: Never
IndentCaseLabels: true
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 1
IncludeBlocks: Regroup
IncludeIsMainRegex: '(Test)?$'
IncludeCategories:
  - Regex: '^"ccop/ops/.*\.h"$'
    Priority: 0
    SortPriority: 0
  - Regex: '^<(cuda|gtest).*>'
    Priority: 4
    SortPriority: 2
  - Regex: '^<.*>'
    Priority: 3
    SortPriority: 1
  - Regex: '^".*"'
    Priority: 5
    SortPriority: 3
SortIncludes: true
